table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 8px;
}
body {
    background: linear-gradient(to right, #0087c4, #27c44e);
    color: white;
}
div {
    margin: 80px;
}
/*deleteButton*/
#deleteButton {
    margin: 0 auto;
    font-size: 1.0rem;
    padding: 0.45rem 0.75rem;
    display: block;
    background-color: transparent;
    border: 1px solid;
    color: #ffffff;
    font-weight: bold;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
}
#deleteButton:hover {
    background-color: #cb000b;
    color: #ffffff;
    border-color: #ffffff ;
}
/*submitButton*/
#submitButton {
    margin: 0 auto;
    font-size: 1.0rem;
    padding: 0.45rem 0.75rem;
    display: block;
    background-color: transparent;
    border: 1px solid;
    color: #ffffff;
    font-weight: bold;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
}
#submitButton:hover{
    background-color: #27a84e;
    color: #ffffff;
    border-color: #ffffff ;
}
/*a*/
a {
    text-decoration: none;
}